#cor {
    background-color: chocolate;
    color: aliceblue;
    text-align: center;
}

#tamanho-imagem {
    width: 1136px;
    height: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-style: ridge;
}