#cor {
    background-color: chocolate;
    color: aliceblue;
    text-align: center;
}

#tamanho-imagem {
    width: 1136px;
    height: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-style: ridge;
    padding: 10px !important;
}

#myCarousel .foto-um {
    /*background-image: url('');*/
}

#myCarousel .foto-dois {
    /*background-image: url('http://placehold.it/500x500');*/
}

#myCarousel .foto-tres {
    /*background-image: url('http://placehold.it/500x500');*/
}